.login-page {
  height: 100vh;
  width: 100%;
  background-image: url("https://wallpapers.com/images/hd/website-background-a6wbhti5rhqieecp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 12px;
  width: 360px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
